@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
    text-align: center;
}

.area {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 103, 60, 0.852);
    background: -webkit-linear-gradient(to left, #ff8484, #b92c2c);
    animation: animate 25s linear infinite;
    bottom: -150px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Forma de hexágono */
}

/* Diferentes tamaños y animaciones para los hexágonos */
.circles li:nth-child(1) { left: 25%; width: 80px; height: 80px; animation-delay: 0s; }
.circles li:nth-child(2) { left: 10%; width: 20px; height: 20px; animation-delay: 2s; animation-duration: 12s; }
.circles li:nth-child(3) { left: 70%; width: 20px; height: 20px; animation-delay: 4s; }
.circles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-delay: 0s; animation-duration: 18s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-delay: 0s; }
.circles li:nth-child(6) { left: 75%; width: 110px; height: 110px; animation-delay: 3s; }
.circles li:nth-child(7) { left: 35%; width: 150px; height: 150px; animation-delay: 7s; }
.circles li:nth-child(8) { left: 50%; width: 25px; height: 25px; animation-delay: 15s; animation-duration: 45s; }
.circles li:nth-child(9) { left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(10) { left: 85%; width: 150px; height: 150px; animation-delay: 0s; animation-duration: 11s; }
.circles li:nth-child(11) { left: 25%; width: 80px; height: 80px; animation-delay: 0s; }
.circles li:nth-child(12) { left: 10%; width: 20px; height: 20px; animation-delay: 2s; animation-duration: 12s; }
.circles li:nth-child(13) { left: 70%; width: 20px; height: 20px; animation-delay: 4s; }
.circles li:nth-child(14) { left: 40%; width: 60px; height: 60px; animation-delay: 0s; animation-duration: 18s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-delay: 0s; }
.circles li:nth-child(16) { left: 75%; width: 110px; height: 110px; animation-delay: 3s; }
.circles li:nth-child(17) { left: 35%; width: 150px; height: 150px; animation-delay: 7s; }
.circles li:nth-child(18) { left: 50%; width: 25px; height: 25px; animation-delay: 15s; animation-duration: 45s; }
.circles li:nth-child(19) { left: 20%; width: 15px; height: 15px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(20) { left: 85%; width: 150px; height: 150px; animation-delay: 0s; animation-duration: 11s; }


@keyframes animate {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; border-radius: 0; }
    100% { transform: translateY(-1000px) rotate(720deg); opacity: 0; border-radius: 50%; }
}

/* Fondo de la página con imagen */

.register-container {
    background: linear-gradient(0deg, rgba(128,80,208,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgb(81, 29, 146);
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    animation: fadeIn 0.5s ease-in-out;
}

.register-logo {
    display: block;
    margin: 0 auto 15px;
    max-width: 120px;
    height: auto;
}

.register-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.MuiTextField-root {
    border-radius: 8px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.MuiTextField-root:focus-within {
    border-color: #007BFF;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.register-button {
    margin-top: 20px !important;
    font-size: 16px !important;
    padding: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #2e1569 !important;
    color: white !important;
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.register-button:hover {
    background-color: #11052f !important;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .register-container {
        width: 90%;
        padding: 20px;
    }

    .register-title {
        font-size: 22px;
    }
}